		<div ng-include="'/partials/header.html'"></div>

			
			<!-- Right side column. Contains the navbar and content of the page -->
            <aside class="right-side">                
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>
                        Blank page
                        <small>Control panel</small>
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="/dashboard"><i class="fa fa-dashboard"></i> Dashboard</a></li>
                    </ol>
                </section>

                <!-- Main content -->
                <section class="content">


                </section><!-- /.content -->
            </aside><!-- /.right-side -->
	
        </div>

		<div ng-include="'/partials/popupProfil.html'"></div>

		<script>
			//Enable sidebar toggle
			$("[data-toggle='offcanvas']").click(function(e) {
				e.preventDefault();

				//If window is small enough, enable sidebar push menu
				if ($(window).width() <= 992) {
				    $('.row-offcanvas').toggleClass('active');
				    $('.left-side').removeClass("collapse-left");
				    $(".right-side").removeClass("strech");
				    $('.row-offcanvas').toggleClass("relative");
				} else {
				    //Else, enable content streching
				    $('.left-side').toggleClass("collapse-left");
				    $(".right-side").toggleClass("strech");
				}
			});
		</script>		
