
		{{error}}
        <div class="form-box" id="login-box" >
            <div class="header">Connexion</div>
            <form ng-submit="login()">
                <div class="body bg-gray">
                    <div class="form-group">
						<label>Email</label>	
                        <input type="text" name="email" data-ng-model="email" class="form-control" placeholder="Email"/>
                    </div>
                    <div class="form-group">
						<label>Mot de passe</label>	
                        <input type="password" name="password" data-ng-model="password" class="form-control" placeholder="Mot de passe"/>
                    </div>          
                </div>
                <div class="footer">                                                               
                    <button type="submit" class="btn bg-olive btn-block" name="connexion" value="Connexion">Connexion</button>  
                    
                    <p><a href="#">J'ai oublié mon mot de passe</a></p>
                    
                </div>
            </form>
        </div>

